/*------- Font Family Starts -------*/

@font-face { font-family: "Ubuntu-Light"; src: url("../fonts/Ubuntu-Light.ttf"); }
@font-face { font-family: "Ubuntu-Medium"; src: url("../fonts/Ubuntu-Medium.ttf"); }

/*------- Font Family Ends -------*/

/*------- Reset CSS Starts -------*/

html { letter-spacing: 1px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address { margin: 0; padding: 0; }
li { list-style: none; }
a,
a:hover,
a:focus { text-decoration: none; -webkit-transition: 0.5s linear; -moz-transition: 0.5s linear; -ms-transition: 0.5s linear; -o-transition: 0.5s linear; transition: 0.5s linear; }

/*------- Reset CSS Ends -------*/

/*------- Common CSS Starts -------*/

body { background-color: #000000; overflow-x: hidden; }
.flex-align-center-desktop { -webkit-align-items: center; align-items:center; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.section-heading > h2 { color: #00d89c; font: 5rem/1.2 "Ubuntu-Medium"; margin-bottom: 15px; position: relative; }
.section-heading > h2 > p { color: transparent; font: 5rem/1.2 "Ubuntu-Medium"; left: 3px; margin-bottom: 15px; position: absolute; top: 3px; -webkit-text-stroke: 0.3px #a7a7a7; z-index: -1; }
p { color: #ffffff; font: 1.8rem/1.7 "Ubuntu-Light"; }
.section-heading > p { margin-bottom: 15px; }
.section-heading > p:last-child { margin-bottom: 0; }

/*------- Common CSS Ends -------*/

/*------- First Section Starts -------*/

.bg-banner-first-sec { padding: 100px 15px; }
.section-image { height: 400px; width: 100%; }

/*------- First Section Ends -------*/

/*------- Second Section Starts -------*/

.bg-banner-second-sec { padding: 50px 15px; }
.second-sec-sentence-home > h1 { color: #ffffff; font: 6rem/1 "Ubuntu-Light"; text-align: center; white-space: nowrap; }

/*------- Second Section Ends -------*/

/*------- Third Section Starts -------*/

.bg-banner-third-sec { padding: 100px 15px; }

/*------- Third Section Ends -------*/

/*------- Fourth Section Starts -------*/

.bg-banner-fourth-sec { padding: 100px 0; }
.fourth-sec-img { height: 700px; }

/*------- Fourth Section Ends -------*/

/*------- Fifth Section Starts -------*/

.bg-banner-fifth-sec { padding: 100px 15px; }

/*------- Fifth Section Ends -------*/